<label>Server Name</label>
<!-- <input
    type="text"
    class="form-control"
    (input)="onUpdateServerName($event)"> -->

 <input
    type="text"
    class="form-control"
   [(ngModel)]="serverName">    
<!-- <p>{{ serverName }}</p> -->
<button class="btn btn-primary"
   [disabled]="!allowNewServer"
   (click)="onCreateSever()"> Add Server
</button>
<!-- <P [innerText]="allowNewServer"></P> -->
<!-- <p>{{ serverCreationStatus }}</p> -->
<P *ngIf="serverCreated; else noServer" >Server was created, sername is {{ serverName}}</P>
<ng-template #noServer >
    <P>No server was created!</P>
</ng-template>

<app-server *ngFor="let server of servers"></app-server>

t